.app-left-header {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.app-search {
  display: flex;
}

.app-top-between {
  height: 20px;
}

.app-board {
  height: 74vh;
  width: 100%;
  display: -webkit-inline-box;
  overflow: scroll;
}
