.app-left-header {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.app-search {
  display: flex;
}

.app-top-between {
  height: 20px;
}

/* .app-board {
  height: 65vh;
  width: 100%;
  display: -webkit-inline-box;
  overflow: scroll;
} */

.main_content {
  background-color: unset;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
